/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* main color #FF874B */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e16021;
  --ifm-color-primary-dark: #d65618;
  --ifm-color-primary-darker: #c4490e;
  --ifm-color-primary-darkest: #ac3a04;
  --ifm-color-primary-light: #ec6e30;
  --ifm-color-primary-lighter: #f77b3e;
  --ifm-color-primary-lightest: #f7834a;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --doc-sidebar-width: 400px !important;
  --ifm-blockquote-border-left-width: 4px;
  --ifm-blockquote-border-color: #e16021;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* custom css */
.markdown h1:first-child {
  font-weight: normal;
}

.theme-doc-markdown.markdown hr, .theme-doc-markdown.markdown + hr {
  background-color: #eeeeee;
  margin-top: 40px;
  margin-bottom: 40px;
}

blockquote {
  margin-left: 15px;
  background-color: #fbfbfb;
  padding: 15px;
  font-style: italic;
}
[data-theme='dark'] blockquote {
  background-color: #282a36;
}

.theme-code-block[class*="language-"] {
  background: #FF874B !important;
  color: #ffffff !important;
  font-size: 0.9em !important;
  border-radius: 0 !important;
}
.theme-code-block[class*="language-"] > div > pre {
  border-radius: 0;
}
.theme-code-block[class*="language-"] > div > pre > code > span {
  display: block;
  margin-bottom: 1px;
}

.navbar__brand {
  margin-right: 1.5rem;
}

.aa-DetachedSearchButton {
  width: 100px !important;
  border-color: #d5d8da !important;
  background-color: white;
  height: 33px;
}
.aa-DetachedSearchButton .aa-DetachedSearchButtonIcon {
  color: #d5d8da;
}
.aa-DetachedSearchButton .aa-DetachedSearchButtonIcon .aa-DetachedSearchButtonPlaceholder {
  display: block;
}
.aa-DetachedSearchButton .aa-DetachedSearchButtonIcon .aa-DetachedSearchButtonPlaceholder::after {
  content: "Search ...";
}

.menu.thin-scrollbar {
  padding-bottom: 25px;
}

.theme-doc-markdown.markdown a {
  font-weight: 500;
}

.theme-doc-markdown.markdown .section-footnote h2 {
  /* --ifm-h2-font-size: 2rem; */
  margin-bottom: calc( var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading) );
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
}

.theme-doc-markdown.markdown .section-footnote h3 {
  /* --ifm-h3-font-size: 1.5rem; */
  /* margin-bottom: calc( var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading) ); */
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}

.theme-doc-markdown.markdown td > code,
.theme-doc-markdown.markdown p > code,
.theme-doc-markdown.markdown h1 > code,
.theme-doc-markdown.markdown h2 > code,
.theme-doc-markdown.markdown h3 > code,
.theme-doc-markdown.markdown li > code,
.table-of-contents li a > code {
  padding: 2px 5px;
}

.theme-doc-markdown.markdown table.custom-table.top tr td {
  vertical-align: top;
}
.theme-doc-markdown.markdown table.custom-table.full {
  display: table;
  width: 100%;
}
.theme-doc-markdown.markdown table.custom-table tr td > * {
  margin: 0;
}
.theme-doc-markdown.markdown table.custom-table tr:nth-child(2n) {
  background-color: transparent !important;
}

.theme-doc-markdown.markdown table td code {
  white-space: nowrap;
}
